name: "CI"

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GH_TOKEN }}


      - name: Format check
        run: nix fmt -- --ci

      - name: Build and test
        run: nix build

      - name: Flake check
        run: nix flake check
